.content-body{
    background-color: white;
    background-image: url("../../assets/image/background.png");    
    height: calc(100vh - 7.1rem); 
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
    padding: 2rem 2rem 0rem 2rem ;
    z-index: 1;
    overflow: auto;
}

.content-body::-webkit-scrollbar {
    width: 6px;
} 

.content-body::-webkit-scrollbar-track {
    border-radius: 0;
}

.content-body::-webkit-scrollbar-thumb {
    background:#a1a1a1; 
    border-radius: 10px;
}

.msg{
    margin: 1rem 0 1rem 0;
    background-color: white;
    padding: 0.9rem;
    text-align: justify;
    border-radius: 15px;
    width: 25rem;
    font-family: sans-serif;
    line-height: 1.3rem;
}

.sender{
    background-color: white;
    margin-left: 100%;
    transform: translateX(-50%);
}

.recipient{
    background-color: rgb(227, 238, 255);
    margin-right: 100%;
    transform: translateX(+50%);
}