.page-body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.sidebar{
    background-color: white;
    width: 22rem;
    height: 100vh !important;
}

.sidebar{
    background-color: white;
    width: 22rem;
    height: 100vh;
}

.chat-wrap{
    width: 22rem;
    height: calc(100vh - 6.2rem); 
    overflow:auto;
}

.chat-wrap::-webkit-scrollbar {
    width: 7px;
} 

.chat-wrap::-webkit-scrollbar-track {
    border-radius: 0;
}

.chat-wrap::-webkit-scrollbar-thumb {
    background:#cfcfcf; 
    border-radius: 10px;
}

.page-content{
    width: 100%;
    display: flex;
    flex-direction: column;
}