<div class="page-body">
    <div class="sidebar">
        <app-user-nav></app-user-nav>    
        <app-search></app-search>
        <div class="chat-wrap">
            <app-chat-box></app-chat-box>
            <app-chat-box></app-chat-box>
            <app-chat-box></app-chat-box>
            <app-chat-box></app-chat-box>
            <app-chat-box></app-chat-box>
            <app-chat-box></app-chat-box>
            <app-chat-box></app-chat-box>
            <app-chat-box></app-chat-box>
            <app-chat-box></app-chat-box>
            <app-chat-box></app-chat-box>
            <app-chat-box></app-chat-box>
            <app-chat-box></app-chat-box>
            <app-chat-box></app-chat-box>
            <app-chat-box></app-chat-box>
            <app-chat-box></app-chat-box>
            <app-chat-box></app-chat-box>
            <app-chat-box></app-chat-box>
        </div>
    </div>
</div>